* {
    box-sizing: border-box;
}

body {
    background-color: powderblue;

}


.deck {
    background-color: slateblue;
    margin : 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:800px;
    width: 900px;
    flex-wrap: wrap;
    padding: 15px;
    position: fixed;
    right :0 ;
    top: 0;

}
   



#header {
   position: fixed; 
   color: purple;
   left: 50px;
   top: 120px;
   font-size: 23px;
   font-family: 'Bree Serif', serif;
}

.icon {
    font-size: 100px;
    text-justify: center;
}


.img {
    color: purple}

p {
    margin: 0px 0 0 0;
    font-size: 30px;
    color: purple;
    display: none;
}

.image {
    width: 120px;
    height: 120px;
    margin: 0;
    padding: 0;
    color: white;
    color-adjust: white;
    display: none;
}

.imagePhone {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    padding: 0;
    color: white;
    color-adjust: white;
    display: none;
    
}

.card {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  snow;
    width: 180px;
    height: 180px;
    border: 5px solid black;
    margin: 5px;
    padding: 0;
}


#Restart {
    background-color: purple;
    color: white;
    font-size: 25px;
    position: fixed;
    bottom : 275px;
    left :300px;
    font-family: 'Pacifico', cursive;
    border-radius: 4px;
    border: purple;
}

#Restart:hover {background-color:  slateblue}

#restartEnd {
    background-color: purple;
    color: white;
    font-size: 25px;
    font-family: 'Pacifico', cursive;
    border-radius: 4px;
    border: purple;

}

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: purple;
  font-family:  'Bree Serif', serif;
  padding: 0;
  margin: 0;
}

#move {
  font-family: 'Trade Winds', cursive;
  font-size: 25px
}


  
  .overlay-text.visible {
    padding: 0;
  margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: overlay-grow 500ms forwards;
  }
  
  @keyframes overlay-grow {
    from {
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
    }
    to {
      background-color: rgba(0, 0, 0, 1);
      font-size: 3em;
    }
  }